Prototyping/docker_flask/app/__pycache__/alert.cpython-37.pyc
Prototyping/docker_flask/app/__pycache__/dread.cpython-37.pyc
Prototyping/docker_flask/app/__pycache__/recentPastes.cpython-37.pyc
Prototyping/docker_flask/app/__pycache__/user.cpython-37.pyc
