.container-outer { 
    overflow: scroll; 
    width: auto; 
    height: 230px; 
    background: white;/*#E8E3E3;*/
    padding-left: auto; 
    padding-right: auto; 
}
.container-inner { width: 1000px; }
.temp {
    padding-top: 75px;
    padding-bottom: 75px;
    background: white;/*#E8E3E3;*/
    height:75px;
    background-color: lightblue;
  }
    .wrapper{
      display:grid;
      grid-template-columns: 225px 225px 225px 225px 225px 225px 225px 225px 225px 225px;
      /*
      grid-column-gap:1em;
      grid-row-gap:1em;
      */
       grid-gap:.5em;
    }

    .wrapper > div{
      background: white;/*#E8E3E3;*/
      /* #EEE */
      padding:1em;

        /* .wrapper > div:nth-child(odd){ */
          /* background:#B6B1B1; */
          /* #DDD */
        /* } */
    }

  .round-button {
    width:100%;
  }
  .round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:1px solid #cfdcec;
    overflow:hidden;
    /* background: #4679BD; */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    box-shadow: 0 0 3px gray;
  }
  .round-button-circle:hover {
    background:#30588e;
  }
  .round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.round-button:hover{
  color: white;
  text-decoration: none;
}


.sensor_intro { 
  background: #E8E3E3;

}

div.rounded_25{
  border-radius: 25px;
}
div.pwnd{
  background-color: #B0DFE5;
}

div.paste{
  background-color: #95C8D8;
}

div.bg_theme{
  /* stroke: #007bff; */
  border: 5px solid #007bff;
}

p.white_text{
  color: white;
}

h3.center{
  display: inline;
  vertical-align: middle;
  padding-left:80px;
  font-family: "Times New Roman", Times, serif;
  
}

div.bg_complement{
  background-color: #D3D3D3;/*#A9A9A9;/*#89CFF0;*/
}

div.scrollable{
  margin: 0 auto;
  height: 400px;
  overflow: auto;
}

div.my-shadow { 
  box-shadow:  3px 3px 3px 0px #ccc;
}