body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.centered_div {
  text-align: center;
  margin:auto;
  width:100%;
  /*background-color: #FF6600;*/
  padding-top: 50px;
  padding-bottom: 50px;
  
}



a.button {
  background-color: #FF6600;
  color: white;
  text-decoration: none;
  padding: 10px 10px;
}



label {
  
  width:100%;
  text-align: left;
  
  
}

div.padded {
  padding-top: 50px;
  padding-bottom: 50px;
  
  text-align: center;
}

div.left_div {
  text-align:left;
  padding-left: 100px;
  width: 50%;
  margin:auto;
  

}
label.white{
  color:cyan;
}



div.left{
  background-color:red;
  width:25%;
  height:100%;
}

div.right{
  background-color:red;
  width:25%;
  margin:auto;
  height:100%;
}




div.navigation_container{
  background-color: #FF9833;
  width:100%;
}

div.navigation_header{
  background-color: #FF9833;
  padding-top:20px;
  width:95%;
  margin:auto
}

a.undecorated{
  margin:auto; 
  text-decoration:none;
  
}



code.button_link{
  margin:auto;
  color:white;
  
}

div.button_link{
  background-color: #FF9833;
  margin:auto;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:10px;
  padding-right:10px;
  display:inline;
}



