

div.module{
  width: 75%;
  height: 175px;
  background-color: #cccccc;
  text-align:left;
  border-radius:10px;
  margin:auto;
  padding-left: 20px;
}

div.centered_div_mod {
    text-align: center;
    margin:auto;
    width:100%;
    /*background-color: #FF6600;*/
    /* padding-top: 25px; */
    padding-bottom: 50px;
    
  }



h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

button { 
    background-color: #FF9833;
}



div.button_link_start{
    background-color: #FF9833;
    /* margin:auto; */
    margin-top: auto;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    display:inline;
  }

  div.topcorner{
    position:absolute;
    top:0;
    right:0;
   }

.fragment {
    font-size: 12px;
    font-family: tahoma;
    height: 140px;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img { 
    float: left;
    margin-right: 10px;
}


.fragment h3 {
    padding: 0;
    margin: 0;
    color: #369;
}
.fragment h4 {
    padding: 0;
    margin: 0;
    color: #000;
}
#close {
    float:right;
    display:inline-block;
    padding-top: 1px; 
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    background:#ccc;
    border-radius: 100pc;
}