

div.module{
  width: 75%;
  height: 175px;
  background-color: #cccccc;
  text-align:left;
  border-radius:10px;
  margin:auto;
  padding-left: 20px;
}

div.centered_div_mod {
    text-align: center;
    margin:auto;
    width:100%;
    /*background-color: #FF6600;*/
    /* padding-top: 25px; */
    padding-bottom: 50px;
    
  }



h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

button { 
    background-color: #FF9833;
}



div.button_link_start{
    background-color: #FF9833;
    /* margin:auto; */
    margin-top: auto;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    display:inline;
  }